<div class="app-container">
  <mat-card>
    <mat-card-content>
      <h2 class="app-h2">{{'ui.changePassword'|translate}}</h2>
      <div>
        <validation-input [formInstanz]="instanz" translateLabel="ui.oldPassword" placeholder="" inputType="password"
          [control]="oldPswFormControl" [matcher]="matcher" errorMessageCall="getErrorMessage" inputKey="oldPsw">
        </validation-input>

      </div>
      <div>
        <validation-input [formInstanz]="instanz" translateLabel="ui.newPassword" placeholder="" inputType="password"
          [control]="newPswFormControl" [matcher]="matcher" errorMessageCall="getErrorMessage" inputKey="newPsw">
        </validation-input>

      </div>
      <div>
        <validation-input [formInstanz]="instanz" translateLabel="ui.newPasswordConfirm" placeholder=""
          inputType="password" [control]="newPswConfirmFormControl" [matcher]="matcher"
          errorMessageCall="getErrorMessage" inputKey="newPswConfirm" erterAction="changPassword" focus="onFocus">
        </validation-input>

      </div>
      <section>
        <div class="app-button-row">
          <button mat-stroked-button (click)="back()" [disabled]="waiting">{{'ui.back'|translate}}</button>
          <button mat-stroked-button color="primary" (click)="changPassword()"
            [disabled]="invalid() || waiting">{{'ui.changePassword'|translate}}</button>
        </div>
        <mat-spinner diameter="30" *ngIf="waiting"></mat-spinner>
      </section>

    </mat-card-content>
  </mat-card>
</div>