<div class="app-container">
    <mat-card>
      <mat-card-content>
        <h2 class="app-h2">{{'ui.forgetPassword'|translate}}</h2>
        <div>
          <validation-input [formInstanz]="instanz" translateLabel="ui.email" placeholder="xxx@example.com"
            inputType="email" [control]="emailControl" [matcher]="matcher" errorMessageCall="getErrorMessage"
            inputKey="email" erterAction="forgetPassword"></validation-input>
  
        </div>
        
        <section>
          <div class="app-button-row">
           
            <button mat-stroked-button (click)="back()" [disabled]="waiting">{{'ui.back'|translate}}</button>
            <button mat-stroked-button color="primary" (click)="forgetPassword()"
              [disabled]="invalid() || waiting">{{'ui.forgetPassword'|translate}}</button>
            
          </div>
          <mat-spinner diameter="30" *ngIf="waiting"></mat-spinner>
        </section>
  
      </mat-card-content>
    </mat-card>
  </div>