<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="app-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="goHome()" class="app-home">{{title}}</span>
    <span class="app-spacer"></span>
    <span *ngIf="isLogin()">
      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="app-icon"
        aria-label="Example icon-button with person_outline icon">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">{{'ui.logout'|translate}}</button>
        <button mat-menu-item (click)="userInfo()">{{userName()}}</button>
      </mat-menu>
    </span>
    <span *ngIf="!isLogin()">
      <button mat-icon-button (click)="login()" class="app-icon" aria-label="Example icon-button with person icon">
        <mat-icon>person</mat-icon>
      </button>
    </span>
    <button mat-icon-button class="app-icon" [matMenuTriggerFor]="languageMenu"
      aria-label="Example icon-button with language icon">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item *ngFor="let item of languages" (click)="changeLanguage(item)">{{item|translate}}</button>
    </mat-menu>
  </mat-toolbar>

</div>

<router-outlet></router-outlet>