<mat-card class="app-form">
    <mat-card-content>
        <h2 class="app-h2" >{{'ui.login'|translate}}</h2>

        <form >
            <mat-form-field class="app-full-width" appearance="fill">
              <mat-label>{{'ui.loginName'|translate}}</mat-label>
              <input type="text" matInput [formControl]="loginNameFormControl" [errorStateMatcher]="matcher"
                     placeholder="">
                            
              <mat-error *ngIf="loginNameFormControl.hasError('required')" [translate]="'messages.required'" [translateParams]="{value: t('ui.loginName')}">
                
              </mat-error>
            </mat-form-field>
            <mat-form-field class="app-full-width" appearance="fill">
              <mat-label>{{'ui.password'|translate}}</mat-label>
              <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                     placeholder="">
                            
              <mat-error *ngIf="passwordFormControl.hasError('required')" [translate]="'messages.required'" [translateParams]="{value: t('ui.password')}">
                
              </mat-error>
            </mat-form-field>
            <section>
              <div class="app-button-row">
                <button mat-stroked-button (click)="register()">{{'ui.register'|translate}}</button>
                <button mat-stroked-button color="primary" (click)="login()" [disabled]="invalid()">{{'ui.login'|translate}}</button>
                                
              </div>
            </section>
            <mat-divider></mat-divider>
          </form>
          
    </mat-card-content>
</mat-card>